openapi: 3.0.3
info:
  title: ChalmersResearch ContractImport ProjectParticipantsVerification API
  version: v1
  description: Public API serving research information from the Chalmers Research portal, including research projects, publications, funders/organizations and collaborations. Converted from the live Swagger 2.0 description at https://api.research.chalmers.se/swagger/docs/v1.
servers:
- url: https://api.research.chalmers.se
tags:
- name: ProjectParticipantsVerification
paths:
  /api/ProjectParticipantsVerification:
    get:
      tags:
      - ProjectParticipantsVerification
      summary: Returns a nullable DateTime object representing the verification state.
      operationId: ProjectParticipantsVerification_Get
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        description: Project to get verification state for
        schema:
          type: integer
          format: int32
      - name: personId
        in: query
        required: true
        description: Person to get verification state for
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: date-time
                type: string
            text/json:
              schema:
                format: date-time
                type: string
            application/xml:
              schema:
                format: date-time
                type: string
            text/xml:
              schema:
                format: date-time
                type: string
    put:
      tags:
      - ProjectParticipantsVerification
      summary: Not implemented
      operationId: ProjectParticipantsVerification_Put
      deprecated: false
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ProjectParticipantsVerification
      summary: Sets verifiction state of given person in given project
      operationId: ProjectParticipantsVerification_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
        description: ProjectOrganizatinPerson properties as JSON object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
    delete:
      tags:
      - ProjectParticipantsVerification
      summary: Removes the verification state for a person and a project
      operationId: ProjectParticipantsVerification_Delete
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        description: Project to verfiy
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        required: true
        description: Person to verify
        schema:
          type: string
      responses:
        '204':
          description: No Content
components:
  schemas:
    PersonOrganizationParent:
      type: object
      properties:
        Id:
          type: string
        FromDate:
          format: date-time
          type: string
        ToDate:
          format: date-time
          type: string
        ParentOrganizationId:
          type: string
        ParentOrganizationData:
          $ref: '#/components/schemas/PersonOrganization'
    PersonOrganization:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        DisplayNameSwe:
          type: string
        DisplayNameEng:
          type: string
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
        DisplayPathShortSwe:
          type: string
        DisplayPathShortEng:
          type: string
        PossibleDisplayPaths:
          type: array
          items:
            $ref: '#/components/schemas/PersonDisplayPath'
        City:
          type: string
        PostalNo:
          type: string
        Country:
          type: string
        GeoLat:
          type: string
        GeoLong:
          type: string
        Level:
          format: int32
          type: integer
        StartYear:
          format: int32
          type: integer
        EndYear:
          format: int32
          type: integer
        OrganizationTypes:
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationType'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationParent'
        ActiveOrganizationParentIds:
          type: array
          items:
            type: string
        HasIdentifiers:
          type: boolean
        IdentifiersCount:
          format: int32
          type: integer
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationIdentifier'
        IdentifierLdapCode:
          type: array
          items:
            type: string
        IdentifierCplDepartmentId:
          type: array
          items:
            type: string
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        ValidatedBy:
          type: string
        ValidatedDate:
          format: date-time
          type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
        NeedsAttention:
          type: boolean
        IsReplacedById:
          type: string
        IsActive:
          type: boolean
    PersonOrganizationType:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        LegacyOrganizationTypeId:
          format: int32
          type: integer
    OrganizationOrganizationType:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        LegacyOrganizationTypeId:
          format: int32
          type: integer
    OrganizationDisplayPath:
      type: object
      properties:
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
    ProjectOrganizationPersonOrganization:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        OrganizationID:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
        ProjectOrganizationPersonID:
          format: int32
          type: integer
        OrganizationData:
          $ref: '#/components/schemas/OrganizationOrganization'
    PdbCategory:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
    OrganizationOrganizationParent:
      type: object
      properties:
        Id:
          type: string
        FromDate:
          format: date-time
          type: string
        ToDate:
          format: date-time
          type: string
        ParentOrganizationId:
          type: string
        ParentOrganizationData:
          $ref: '#/components/schemas/OrganizationOrganization'
    PersonIdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    PersonOrganizationIdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    PersonOrganizationIdentifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/PersonOrganizationIdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    PersonPerson:
      type: object
      properties:
        Id:
          type: string
        FirstName:
          type: string
        LastName:
          type: string
        DisplayName:
          type: string
        BirthYear:
          format: int32
          type: integer
        IsReplacedById:
          type: string
        IsReplacingId:
          type: string
        IsActive:
          type: boolean
        IsDeleted:
          type: boolean
        HasOrganizationHome:
          type: boolean
        HasIdentifiers:
          type: boolean
        HasPublications:
          type: boolean
        HasProjects:
          type: boolean
        OrganizationHomeCount:
          format: int32
          type: integer
        IdentifiersCount:
          format: int32
          type: integer
        IdentifierCid:
          type: array
          items:
            type: string
        IdentifierCplPersonId:
          type: array
          items:
            type: string
        IdentifierOrcid:
          type: array
          items:
            type: string
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/PersonIdentifier'
        OrganizationHome:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationHome'
        PdbCategories:
          type: array
          items:
            $ref: '#/components/schemas/PdbCategory'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
        SightedBy:
          type: string
        SightedAt:
          format: date-time
          type: string
        ValidatedBy:
          type: string
        ValidatedDate:
          format: date-time
          type: string
        NeedsAttention:
          type: boolean
    OrganizationIdentifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/OrganizationIdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    ProjectOrganizationPerson:
      description: Connects a person with affiliation to a project
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        PersonID:
          type: string
        OrganizationID:
          type: string
        PersonRoleID:
          format: int32
          type: integer
        PersonRoleName_en:
          type: string
        PersonRoleName_sc:
          type: string
        Person:
          $ref: '#/components/schemas/PersonPerson'
        PersonOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/ProjectOrganizationPersonOrganization'
        Verified:
          format: date-time
          description: The date for a users verification as a project member
          type: string
        VerificationMailSent:
          format: date-time
          description: The date for sending a users verification email
          type: string
    OrganizationHome:
      type: object
      properties:
        Id:
          type: string
        OrganizationId:
          type: string
        OrganizationData:
          $ref: '#/components/schemas/PersonOrganization'
        LastUpdatedDate:
          format: date-time
          type: string
        TitleSwe:
          type: string
        TitleEng:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
        Source:
          type: string
        Priority:
          type: string
    PersonDisplayPath:
      type: object
      properties:
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
    PersonIdentifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/PersonIdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    OrganizationOrganization:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        DisplayNameSwe:
          type: string
        DisplayNameEng:
          type: string
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
        DisplayPathShortSwe:
          type: string
        DisplayPathShortEng:
          type: string
        PossibleDisplayPaths:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationDisplayPath'
        City:
          type: string
        PostalNo:
          type: string
        Country:
          type: string
        GeoLat:
          type: string
        GeoLong:
          type: string
        Level:
          format: int32
          type: integer
        StartYear:
          format: int32
          type: integer
        EndYear:
          format: int32
          type: integer
        OrganizationTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationOrganizationType'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationOrganizationParent'
        ActiveOrganizationParentIds:
          type: array
          items:
            type: string
        HasIdentifiers:
          type: boolean
        IdentifiersCount:
          format: int32
          type: integer
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationIdentifier'
        IdentifierLdapCode:
          type: array
          items:
            type: string
        IdentifierCplDepartmentId:
          type: array
          items:
            type: string
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        ValidatedBy:
          type: string
        ValidatedDate:
          format: date-time
          type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
        NeedsAttention:
          type: boolean
        IsReplacedById:
          type: string
        IsActive:
          type: boolean
    OrganizationIdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
