openapi: 3.0.3
info:
  title: ChalmersResearch ContractImport DeltaImportProjectOrganization API
  version: v1
  description: Public API serving research information from the Chalmers Research portal, including research projects, publications, funders/organizations and collaborations. Converted from the live Swagger 2.0 description at https://api.research.chalmers.se/swagger/docs/v1.
servers:
- url: https://api.research.chalmers.se
tags:
- name: DeltaImportProjectOrganization
paths:
  /api/DeltaImportProjectOrganization/{id}:
    post:
      tags:
      - DeltaImportProjectOrganization
      summary: Request a delta-import of projects connected to an Organization, using Azure Servicebus
      operationId: DeltaImportProjectOrganization_Post
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Organization id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
components:
  schemas:
    Object:
      type: object
      properties: {}
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
