openapi: 3.0.3
info:
  title: ChalmersResearch ContractImport Organizations API
  version: v1
  description: Public API serving research information from the Chalmers Research portal, including research projects, publications, funders/organizations and collaborations. Converted from the live Swagger 2.0 description at https://api.research.chalmers.se/swagger/docs/v1.
servers:
- url: https://api.research.chalmers.se
tags:
- name: Organizations
paths:
  /api/Organizations:
    get:
      tags:
      - Organizations
      summary: Returns a list of all Organizations in the database.
      operationId: Organizations_Get
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
    post:
      tags:
      - Organizations
      summary: Create a new Organization
      operationId: Organizations_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
          text/json:
            schema:
              $ref: '#/components/schemas/Organization'
          application/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          text/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Organization'
        description: Organization object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
  /api/Organizations/{id}:
    get:
      tags:
      - Organizations
      summary: Return details about a specific Organization
      operationId: Organizations_GetById
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Organization id
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
    put:
      tags:
      - Organizations
      summary: Updates an organization
      operationId: Organizations_Put
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Organization to update
        schema:
          type: integer
          format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
          text/json:
            schema:
              $ref: '#/components/schemas/Organization'
          application/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          text/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Organization'
        description: Organization changes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
    delete:
      tags:
      - Organizations
      summary: Deletes an organization [Not implemented]
      operationId: Organizations_Delete
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Id number of the organization to delete
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
components:
  schemas:
    ApiOrganizationIdentifier:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        OrganizationID:
          format: int32
          type: integer
        OrganizationIdentifierID:
          format: int32
          type: integer
        OrganizationIdentifierDescription:
          type: string
        OrganizationIdentifierValue:
          type: string
    Organization:
      required:
      - OrganizationNameSv
      - OrganizationNameEn
      - OrganizationDisplayNameSv
      - OrganizationDisplayNameEn
      - OrganizationTypeID
      type: object
      properties:
        ID:
          format: int32
          type: integer
        OrganizationNameSv:
          type: string
        OrganizationNameEn:
          type: string
        OrganizationDisplayNameSv:
          type: string
        OrganizationDisplayNameEn:
          type: string
        OrganizationTypeID:
          format: int32
          type: integer
        OrganizationTypeNameSv:
          type: string
        OrganizationTypeNameEn:
          type: string
        OrganizationCity:
          type: string
        OrganizationPostalNo:
          type: string
        OrganizationCountry:
          type: string
        OrganizationGeoLat:
          type: string
        OrganizationGeoLong:
          type: string
        OrganizationLevel:
          format: int32
          type: integer
        OrganizationIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/ApiOrganizationIdentifier'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
