openapi: 3.0.3
info:
  title: ChalmersResearchAPI
  version: v1
  description: Public API serving research information from the Chalmers Research
    portal, including research projects, publications, funders/organizations and collaborations.
    Converted from the live Swagger 2.0 description at https://api.research.chalmers.se/swagger/docs/v1.
servers:
- url: https://api.research.chalmers.se
paths:
  /api/ContractImport:
    get:
      tags:
      - ContractImport
      summary: Not implemented
      operationId: ContractImport_Get
      deprecated: false
      parameters:
      - name: item.contractImportID
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: item.ekoID
        in: query
        required: false
        schema:
          type: string
      - name: item.rDProject
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportStatus
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportProjectTitleEng
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportProjectTitleSwe
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportProjectDescriptionEng
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportProjectDescriptionSwe
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportProjectUrl
        in: query
        required: false
        schema:
          type: string
      - name: item.ekoKst
        in: query
        required: false
        schema:
          type: string
      - name: item.ekoFormedlare
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportAmount
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: item.contractImportCurrencyCode
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportType
        in: query
        required: false
        schema:
          type: string
      - name: item.ekoProjekt
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportFunder
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportFunderID
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportProjectContactPerson
        in: query
        required: false
        schema:
          type: string
      - name: item.contractImportStartDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: item.contractImportEndDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: item.contractImportImportedDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: item.contractImportImported
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: item.contractImportDeleted
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: item.ekoAnkomstDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: item.contractImportSource
        in: query
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
    put:
      tags:
      - ContractImport
      summary: Not implemented
      operationId: ContractImport_Put
      deprecated: false
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ContractImport
      summary: Create new Contract Import object
      operationId: ContractImport_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractImport'
          text/json:
            schema:
              $ref: '#/components/schemas/ContractImport'
          application/xml:
            schema:
              $ref: '#/components/schemas/ContractImport'
          text/xml:
            schema:
              $ref: '#/components/schemas/ContractImport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractImport'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractImport'
            text/json:
              schema:
                $ref: '#/components/schemas/ContractImport'
            application/xml:
              schema:
                $ref: '#/components/schemas/ContractImport'
            text/xml:
              schema:
                $ref: '#/components/schemas/ContractImport'
    delete:
      tags:
      - ContractImport
      summary: Not implemented
      operationId: ContractImport_Delete
      deprecated: false
      responses:
        '204':
          description: No Content
  /api/DeltaImportCplPublication/{id}:
    get:
      tags:
      - DeltaImportCplPublication
      summary: Request a delta-import of a publication in CPL using Azure Servicebus
      operationId: DeltaImportCplPublication_Get
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Publication id
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/DeltaImportProjectOrganization/{id}:
    post:
      tags:
      - DeltaImportProjectOrganization
      summary: Request a delta-import of projects connected to an Organization, using
        Azure Servicebus
      operationId: DeltaImportProjectOrganization_Post
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Organization id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/DeltaImportProjectPerson/{id}:
    post:
      tags:
      - DeltaImportProjectPerson
      summary: Request a delta-import of projects connected to a Person, using Azure
        Servicebus
      operationId: DeltaImportProjectPerson_Post
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Person id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/ElectronicPublicationAgreementSignature:
    get:
      tags:
      - ElectronicPublicationAgreementSignature
      summary: Gets a list of all electronic publishing contracts
      operationId: ElectronicPublicationAgreementSignature_Get
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
    post:
      tags:
      - ElectronicPublicationAgreementSignature
      summary: Creates a new signature line in database
      operationId: ElectronicPublicationAgreementSignature_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
          text/json:
            schema:
              $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
          application/xml:
            schema:
              $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
          text/xml:
            schema:
              $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            text/json:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            application/xml:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            text/xml:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
  /api/ElectronicPublicationAgreementSignature/{id}:
    get:
      tags:
      - ElectronicPublicationAgreementSignature
      summary: Get specified electronic publishing contracts
      operationId: ElectronicPublicationAgreementSignature_GetById
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            text/json:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            application/xml:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
            text/xml:
              schema:
                $ref: '#/components/schemas/ElectronicPublicationAgreementSignature'
  /api/IndexAllProjects:
    post:
      tags:
      - IndexAllProjects
      operationId: IndexAllProjects_Post
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/IndexOneProject/{id}:
    post:
      tags:
      - IndexOneProject
      operationId: IndexOneProject_Post
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
    delete:
      tags:
      - IndexOneProject
      operationId: IndexOneProject_Delete
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
  /api/LocalOrganizations:
    get:
      tags:
      - LocalOrganizations
      summary: Returns only local organizations without parent/child relations for
        faster access
      operationId: LocalOrganizations_Get
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
  /api/Organizations:
    get:
      tags:
      - Organizations
      summary: Returns a list of all Organizations in the database.
      operationId: Organizations_Get
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
    post:
      tags:
      - Organizations
      summary: Create a new Organization
      operationId: Organizations_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
          text/json:
            schema:
              $ref: '#/components/schemas/Organization'
          application/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          text/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Organization'
        description: Organization object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
  /api/Organizations/{id}:
    get:
      tags:
      - Organizations
      summary: Return details about a specific Organization
      operationId: Organizations_GetById
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Organization id
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
    put:
      tags:
      - Organizations
      summary: Updates an organization
      operationId: Organizations_Put
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Organization to update
        schema:
          type: integer
          format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
          text/json:
            schema:
              $ref: '#/components/schemas/Organization'
          application/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          text/xml:
            schema:
              $ref: '#/components/schemas/Organization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Organization'
        description: Organization changes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
    delete:
      tags:
      - Organizations
      summary: Deletes an organization [Not implemented]
      operationId: Organizations_Delete
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Id number of the organization to delete
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
            text/json:
              schema:
                $ref: '#/components/schemas/Organization'
            application/xml:
              schema:
                $ref: '#/components/schemas/Organization'
            text/xml:
              schema:
                $ref: '#/components/schemas/Organization'
  /api/ProjectEmbargos:
    get:
      tags:
      - ProjectEmbargos
      summary: "Returns the projects with a specified publish status, created within\
        \ a specified timespan (days). \r\n            1 - New, 2- Only visible for\
        \ logged in users, 3 - Public"
      operationId: ProjectEmbargos_Get
      deprecated: false
      parameters:
      - name: publishStatus
        in: query
        required: true
        description: Current publish status. 1 - New, 2- Only visible for logged in
          users, 3 - Public
        schema:
          type: integer
          format: int32
      - name: noOfDays
        in: query
        required: true
        description: Minimum number of days since publication
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectEmbargo'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectEmbargo'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectEmbargo'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectEmbargo'
    put:
      tags:
      - ProjectEmbargos
      summary: Not implemented
      operationId: ProjectEmbargos_Put
      deprecated: false
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ProjectEmbargos
      summary: Not implemented
      operationId: ProjectEmbargos_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
          text/json:
            schema:
              $ref: '#/components/schemas/Project'
          application/xml:
            schema:
              $ref: '#/components/schemas/Project'
          text/xml:
            schema:
              $ref: '#/components/schemas/Project'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '204':
          description: No Content
    delete:
      tags:
      - ProjectEmbargos
      summary: Not implemented
      operationId: ProjectEmbargos_Delete
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
  /api/ProjectOrganizationUpdated:
    post:
      tags:
      - ProjectOrganizationUpdated
      operationId: ProjectOrganizationUpdated_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationOrganization'
          text/json:
            schema:
              $ref: '#/components/schemas/OrganizationOrganization'
          application/xml:
            schema:
              $ref: '#/components/schemas/OrganizationOrganization'
          text/xml:
            schema:
              $ref: '#/components/schemas/OrganizationOrganization'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationOrganization'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/ProjectParticipantsVerification:
    get:
      tags:
      - ProjectParticipantsVerification
      summary: Returns a nullable DateTime object representing the verification state.
      operationId: ProjectParticipantsVerification_Get
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        description: Project to get verification state for
        schema:
          type: integer
          format: int32
      - name: personId
        in: query
        required: true
        description: Person to get verification state for
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: date-time
                type: string
            text/json:
              schema:
                format: date-time
                type: string
            application/xml:
              schema:
                format: date-time
                type: string
            text/xml:
              schema:
                format: date-time
                type: string
    put:
      tags:
      - ProjectParticipantsVerification
      summary: Not implemented
      operationId: ProjectParticipantsVerification_Put
      deprecated: false
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ProjectParticipantsVerification
      summary: Sets verifiction state of given person in given project
      operationId: ProjectParticipantsVerification_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectOrganizationPerson'
        description: ProjectOrganizatinPerson properties as JSON object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectOrganizationPerson'
    delete:
      tags:
      - ProjectParticipantsVerification
      summary: Removes the verification state for a person and a project
      operationId: ProjectParticipantsVerification_Delete
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        description: Project to verfiy
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        required: true
        description: Person to verify
        schema:
          type: string
      responses:
        '204':
          description: No Content
  /api/ProjectParticipantsVerificationMail:
    get:
      tags:
      - ProjectParticipantsVerificationMail
      summary: Returns a list of persons eligable for Verification Mails.
      operationId: ProjectParticipantsVerificationMail_Get
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecipientsOfVerificationMail'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecipientsOfVerificationMail'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecipientsOfVerificationMail'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecipientsOfVerificationMail'
    put:
      tags:
      - ProjectParticipantsVerificationMail
      summary: Not implemented
      operationId: ProjectParticipantsVerificationMail_Put
      deprecated: false
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ProjectParticipantsVerificationMail
      summary: Sets verifiction mail sent date for a given person
      operationId: ProjectParticipantsVerificationMail_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          text/json:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          application/xml:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          text/xml:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PersonPerson'
        description: Person properties as JSON object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonPerson'
            text/json:
              schema:
                $ref: '#/components/schemas/PersonPerson'
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonPerson'
            text/xml:
              schema:
                $ref: '#/components/schemas/PersonPerson'
    delete:
      tags:
      - ProjectParticipantsVerificationMail
      summary: Removes the verification mail sent date for a person and project
      operationId: ProjectParticipantsVerificationMail_Delete
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        description: Project
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        required: true
        description: Person
        schema:
          type: string
      responses:
        '204':
          description: No Content
  /api/ProjectPersonUpdated:
    post:
      tags:
      - ProjectPersonUpdated
      operationId: ProjectPersonUpdated_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          text/json:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          application/xml:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          text/xml:
            schema:
              $ref: '#/components/schemas/PersonPerson'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PersonPerson'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/ProjectPublishStatus:
    get:
      tags:
      - ProjectPublishStatus
      summary: "Returns the publish status for a given project. \r\n            1\
        \ - New, 2- Only visible for logged in users, 3 - Public"
      operationId: ProjectPublishStatus_Get
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        description: ProjectID to retrieve publish status for
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
    put:
      tags:
      - ProjectPublishStatus
      summary: Not implemented
      operationId: ProjectPublishStatus_Put
      deprecated: false
      responses:
        '204':
          description: No Content
    post:
      tags:
      - ProjectPublishStatus
      summary: "Sets the publish status for a given project\r\n            1 - New,\
        \ 2- Only visible for logged in users, 3 - Public"
      operationId: ProjectPublishStatus_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
          text/json:
            schema:
              $ref: '#/components/schemas/Project'
          application/xml:
            schema:
              $ref: '#/components/schemas/Project'
          text/xml:
            schema:
              $ref: '#/components/schemas/Project'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Project'
        description: Project (PublishStatus) properties as JSON object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
    delete:
      tags:
      - ProjectPublishStatus
      summary: Not implemented
      operationId: ProjectPublishStatus_Delete
      deprecated: false
      parameters:
      - name: projectId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
  /api/ProjectQueries:
    post:
      tags:
      - ProjectQueries
      summary: Make a complex query against the existing projects using Elasticsearch
        DSL syntax.
      operationId: ProjectQueries_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Object'
          text/json:
            schema:
              $ref: '#/components/schemas/Object'
          application/xml:
            schema:
              $ref: '#/components/schemas/Object'
          text/xml:
            schema:
              $ref: '#/components/schemas/Object'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Object'
        description: The request in Elasticsearch DSL syntax.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
  /api/Projects:
    get:
      tags:
      - Projects
      summary: Return a list of all Projects
      operationId: Projects_Get
      deprecated: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
    post:
      tags:
      - Projects
      summary: Create a new Project
      operationId: Projects_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
          text/json:
            schema:
              $ref: '#/components/schemas/Project'
          application/xml:
            schema:
              $ref: '#/components/schemas/Project'
          text/xml:
            schema:
              $ref: '#/components/schemas/Project'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Project'
        description: Project properties as JSON object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              schema:
                $ref: '#/components/schemas/Project'
  /api/Projects/{id}:
    get:
      tags:
      - Projects
      summary: Returns a single Project
      operationId: Projects_GetById
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Project id
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              schema:
                $ref: '#/components/schemas/Project'
    put:
      tags:
      - Projects
      summary: Update Project properties
      operationId: Projects_Put
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Project id
        schema:
          type: integer
          format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
          text/json:
            schema:
              $ref: '#/components/schemas/Project'
          application/xml:
            schema:
              $ref: '#/components/schemas/Project'
          text/xml:
            schema:
              $ref: '#/components/schemas/Project'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Project'
        description: Project object as JSON
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              schema:
                $ref: '#/components/schemas/Project'
    delete:
      tags:
      - Projects
      summary: Deletes a research project
      operationId: Projects_Delete
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Id number of project to delete
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
  /api/ProjectsConnectedToOrganization:
    get:
      tags:
      - ProjectsConnectedToOrganization
      summary: Returns a simple list of all projects connected to an Organization
      operationId: ProjectsConnectedToOrganization_Get
      deprecated: false
      parameters:
      - name: organizationId
        in: query
        required: true
        description: Internal Id for organization.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
  /api/ProjectsConnectedToPerson:
    get:
      tags:
      - ProjectsConnectedToPerson
      summary: Returns a simple list of all projects connected to a person.
      operationId: ProjectsConnectedToPerson_Get
      deprecated: false
      parameters:
      - name: personId
        in: query
        required: true
        description: Internal Id for person.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleProjectMetadata'
  /api/ProjectSearch:
    get:
      tags:
      - ProjectSearch
      summary: General search for projects.
      operationId: ProjectSearch_GetByQuery
      deprecated: false
      parameters:
      - name: query
        in: query
        required: false
        description: Lucene style query.
        schema:
          type: string
      - name: funder
        in: query
        required: false
        description: Funder (Organization) Id.
        schema:
          type: string
      - name: funderId
        in: query
        required: false
        description: FunderId.
        schema:
          type: string
      - name: max
        in: query
        required: false
        description: Max number of documents to return.
        schema:
          type: integer
          format: int32
      - name: start
        in: query
        required: false
        description: Starting position.
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        description: Sort field.
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        description: Sort order.
        schema:
          type: string
      - name: selectedFields
        in: query
        required: false
        description: Comma-separated list of fields to return.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectQueryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectQueryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectQueryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectQueryResult'
  /api/SimpleProjectMetadata/{id}:
    get:
      tags:
      - SimpleProjectMetadata
      summary: Returns simple metadata for a single Project
      operationId: SimpleProjectMetadata_GetById
      deprecated: false
      parameters:
      - name: id
        in: path
        required: true
        description: Project id
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleProjectMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/SimpleProjectMetadata'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleProjectMetadata'
            text/xml:
              schema:
                $ref: '#/components/schemas/SimpleProjectMetadata'
  /api/SolrImport:
    post:
      tags:
      - SolrImport
      summary: ''
      operationId: SolrImport_Post
      deprecated: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolrImportRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/SolrImportRequestModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/SolrImportRequestModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/SolrImportRequestModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SolrImportRequestModel'
        description: Request Parameters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
components:
  schemas:
    ContractImport:
      type: object
      properties:
        ContractImportID:
          format: int32
          type: integer
        EkoID:
          type: string
        RDProject:
          type: string
        ContractImportStatus:
          type: string
        ContractImportProjectTitleEng:
          type: string
        ContractImportProjectTitleSwe:
          type: string
        ContractImportProjectDescriptionEng:
          type: string
        ContractImportProjectDescriptionSwe:
          type: string
        ContractImportProjectUrl:
          type: string
        EkoKst:
          type: string
        EkoFormedlare:
          type: string
        ContractImportAmount:
          format: int32
          type: integer
        ContractImportCurrencyCode:
          type: string
        ContractImportType:
          type: string
        EkoProjekt:
          type: string
        ContractImportFunder:
          type: string
        ContractImportFunderID:
          type: string
        ContractImportProjectContactPerson:
          type: string
        ContractImportStartDate:
          format: date-time
          type: string
        ContractImportEndDate:
          format: date-time
          type: string
        ContractImportImportedDate:
          format: date-time
          type: string
        ContractImportImported:
          format: int32
          type: integer
        ContractImportDeleted:
          format: int32
          type: integer
        EkoAnkomstDate:
          format: date-time
          type: string
        ContractImportSource:
          type: string
    Object:
      type: object
      properties: {}
    ElectronicPublicationAgreementSignature:
      type: object
      properties:
        ID:
          format: int32
          description: Internal id number for contract
          type: integer
        PersonID:
          description: ResearchId-number for the person that signs the contract
          type: string
        Person:
          $ref: '#/components/schemas/PersonPerson'
          description: Person that signs the contract
        PublicationType:
          description: Used for writing out Publication Type in Emails
          type: string
        PublicationYear:
          description: Used for writing our Publication Year in Emails
          type: string
        PublicationTitle:
          description: Title of publication
          type: string
        PubID:
          format: int32
          description: PubId from CPL
          type: integer
        Agree:
          description: True if contract is signed
          type: boolean
        Date:
          format: date-time
          description: Date and time in UTC of contract signment
          type: string
        ContractText:
          description: Complete contract text
          type: string
        Checksum:
          description: "SHA256 hash calculated on the UTF-8 representation of the\
            \ \r\n            string \"Person.Firstname+Person.Lastname+PublictionTitle+ContractText+Date(DateTime.ToString(\"\
            o\"))"
          type: string
        PrintAt:
          description: Print location
          type: string
        Decision:
          description: Signees decision
          type: string
        Message:
          description: Message to admin
          type: string
        IpV4:
          description: Originating IP-address
          type: string
    PersonPerson:
      type: object
      properties:
        Id:
          type: string
        FirstName:
          type: string
        LastName:
          type: string
        DisplayName:
          type: string
        BirthYear:
          format: int32
          type: integer
        IsReplacedById:
          type: string
        IsReplacingId:
          type: string
        IsActive:
          type: boolean
        IsDeleted:
          type: boolean
        HasOrganizationHome:
          type: boolean
        HasIdentifiers:
          type: boolean
        HasPublications:
          type: boolean
        HasProjects:
          type: boolean
        OrganizationHomeCount:
          format: int32
          type: integer
        IdentifiersCount:
          format: int32
          type: integer
        IdentifierCid:
          type: array
          items:
            type: string
        IdentifierCplPersonId:
          type: array
          items:
            type: string
        IdentifierOrcid:
          type: array
          items:
            type: string
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/PersonIdentifier'
        OrganizationHome:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationHome'
        PdbCategories:
          type: array
          items:
            $ref: '#/components/schemas/PdbCategory'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
        SightedBy:
          type: string
        SightedAt:
          format: date-time
          type: string
        ValidatedBy:
          type: string
        ValidatedDate:
          format: date-time
          type: string
        NeedsAttention:
          type: boolean
    PersonIdentifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/PersonIdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    OrganizationHome:
      type: object
      properties:
        Id:
          type: string
        OrganizationId:
          type: string
        OrganizationData:
          $ref: '#/components/schemas/PersonOrganization'
        LastUpdatedDate:
          format: date-time
          type: string
        TitleSwe:
          type: string
        TitleEng:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
        Source:
          type: string
        Priority:
          type: string
    PdbCategory:
      type: object
      properties:
        Id:
          type: string
        Name:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
    PersonIdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    PersonOrganization:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        DisplayNameSwe:
          type: string
        DisplayNameEng:
          type: string
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
        DisplayPathShortSwe:
          type: string
        DisplayPathShortEng:
          type: string
        PossibleDisplayPaths:
          type: array
          items:
            $ref: '#/components/schemas/PersonDisplayPath'
        City:
          type: string
        PostalNo:
          type: string
        Country:
          type: string
        GeoLat:
          type: string
        GeoLong:
          type: string
        Level:
          format: int32
          type: integer
        StartYear:
          format: int32
          type: integer
        EndYear:
          format: int32
          type: integer
        OrganizationTypes:
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationType'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationParent'
        ActiveOrganizationParentIds:
          type: array
          items:
            type: string
        HasIdentifiers:
          type: boolean
        IdentifiersCount:
          format: int32
          type: integer
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationIdentifier'
        IdentifierLdapCode:
          type: array
          items:
            type: string
        IdentifierCplDepartmentId:
          type: array
          items:
            type: string
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        ValidatedBy:
          type: string
        ValidatedDate:
          format: date-time
          type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
        NeedsAttention:
          type: boolean
        IsReplacedById:
          type: string
        IsActive:
          type: boolean
    PersonDisplayPath:
      type: object
      properties:
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
    PersonOrganizationType:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        LegacyOrganizationTypeId:
          format: int32
          type: integer
    PersonOrganizationParent:
      type: object
      properties:
        Id:
          type: string
        FromDate:
          format: date-time
          type: string
        ToDate:
          format: date-time
          type: string
        ParentOrganizationId:
          type: string
        ParentOrganizationData:
          $ref: '#/components/schemas/PersonOrganization'
    PersonOrganizationIdentifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/PersonOrganizationIdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    PersonOrganizationIdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    Organization:
      required:
      - OrganizationNameSv
      - OrganizationNameEn
      - OrganizationDisplayNameSv
      - OrganizationDisplayNameEn
      - OrganizationTypeID
      type: object
      properties:
        ID:
          format: int32
          type: integer
        OrganizationNameSv:
          type: string
        OrganizationNameEn:
          type: string
        OrganizationDisplayNameSv:
          type: string
        OrganizationDisplayNameEn:
          type: string
        OrganizationTypeID:
          format: int32
          type: integer
        OrganizationTypeNameSv:
          type: string
        OrganizationTypeNameEn:
          type: string
        OrganizationCity:
          type: string
        OrganizationPostalNo:
          type: string
        OrganizationCountry:
          type: string
        OrganizationGeoLat:
          type: string
        OrganizationGeoLong:
          type: string
        OrganizationLevel:
          format: int32
          type: integer
        OrganizationIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/ApiOrganizationIdentifier'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
    ApiOrganizationIdentifier:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        OrganizationID:
          format: int32
          type: integer
        OrganizationIdentifierID:
          format: int32
          type: integer
        OrganizationIdentifierDescription:
          type: string
        OrganizationIdentifierValue:
          type: string
    ProjectEmbargo:
      type: object
      properties:
        projectID:
          format: int32
          type: integer
        publishStatus:
          format: int32
          type: integer
        createdDate:
          format: date-time
          type: string
    Project:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectTitleSwe:
          type: string
        ProjectDescriptionSwe:
          type: string
        ProjectDescriptionSweHtml:
          type: string
        ProjectTitleEng:
          type: string
        ProjectDescriptionEng:
          type: string
        ProjectDescriptionEngHtml:
          type: string
        PublishStatus:
          format: int32
          type: integer
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
        ProjectSource:
          description: The information source that the project was created from
          type: string
        CreatedDate:
          format: date-time
          type: string
        CreatedBy:
          type: string
        UpdatedDate:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        Contracts:
          type: array
          items:
            $ref: '#/components/schemas/ProjectContract'
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/ProjectIdentifier'
        Organizations:
          type: array
          items:
            $ref: '#/components/schemas/ProjectOrganization'
        Persons:
          type: array
          items:
            $ref: '#/components/schemas/ProjectOrganizationPerson'
        Categories:
          type: array
          items:
            $ref: '#/components/schemas/ProjectCategory'
        Keywords:
          type: array
          items:
            $ref: '#/components/schemas/ProjectKeyword'
    ProjectContract:
      type: object
      properties:
        ID:
          format: int32
          description: Primary key for FundingContracts
          type: integer
        EkoImportID:
          format: int32
          description: Id number used in EKO-database for this contract
          type: integer
        ContractSource:
          description: The information source that the project was created from
          type: string
        DmpValue:
          description: Data Management Plan (DMP), link or id
          type: string
        DmpVersion:
          description: Data Management Plan (DMP), version
          type: string
        ProjectID:
          format: int32
          description: Internal id of project
          type: integer
        OrganizationID:
          description: Internal id of funding organization
          type: string
        ContractStartDate:
          format: date-time
          description: Start date for funding
          type: string
        ContractEndDate:
          format: date-time
          description: End date for funding
          type: string
        ContractAmount:
          format: int32
          description: Funding amount
          type: integer
        ContractCurrencyCode:
          description: Funding currency code
          type: string
        FunderID:
          description: Funder ID(s), virtual field
          type: array
          items:
            type: string
        CreatedDate:
          format: date-time
          type: string
        CreatedBy:
          type: string
        UpdatedDate:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        ContractOrganization:
          $ref: '#/components/schemas/OrganizationOrganization'
        ContractIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/ProjectContractIdentifier'
    ProjectIdentifier:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        ProjectIdentifierID:
          format: int32
          type: integer
        ProjectIdentifierDescription:
          type: string
        ProjectIdentifierValue:
          type: string
    ProjectOrganization:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        OrganizationID:
          type: string
        Organization:
          $ref: '#/components/schemas/OrganizationOrganization'
        OrganizationRoleID:
          format: int32
          type: integer
        OrganizationRoleNameEn:
          type: string
        OrganizationRoleNameSv:
          type: string
    ProjectOrganizationPerson:
      description: Connects a person with affiliation to a project
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        PersonID:
          type: string
        OrganizationID:
          type: string
        PersonRoleID:
          format: int32
          type: integer
        PersonRoleName_en:
          type: string
        PersonRoleName_sc:
          type: string
        Person:
          $ref: '#/components/schemas/PersonPerson'
        PersonOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/ProjectOrganizationPersonOrganization'
        Verified:
          format: date-time
          description: The date for a users verification as a project member
          type: string
        VerificationMailSent:
          format: date-time
          description: The date for sending a users verification email
          type: string
    ProjectCategory:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        CategoryID:
          type: string
        Category:
          $ref: '#/components/schemas/Category'
    ProjectKeyword:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        Value:
          type: string
        Lang:
          type: string
        Type:
          format: int32
          type: integer
    OrganizationOrganization:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        DisplayNameSwe:
          type: string
        DisplayNameEng:
          type: string
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
        DisplayPathShortSwe:
          type: string
        DisplayPathShortEng:
          type: string
        PossibleDisplayPaths:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationDisplayPath'
        City:
          type: string
        PostalNo:
          type: string
        Country:
          type: string
        GeoLat:
          type: string
        GeoLong:
          type: string
        Level:
          format: int32
          type: integer
        StartYear:
          format: int32
          type: integer
        EndYear:
          format: int32
          type: integer
        OrganizationTypes:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationOrganizationType'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationOrganizationParent'
        ActiveOrganizationParentIds:
          type: array
          items:
            type: string
        HasIdentifiers:
          type: boolean
        IdentifiersCount:
          format: int32
          type: integer
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationIdentifier'
        IdentifierLdapCode:
          type: array
          items:
            type: string
        IdentifierCplDepartmentId:
          type: array
          items:
            type: string
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        ValidatedBy:
          type: string
        ValidatedDate:
          format: date-time
          type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
        NeedsAttention:
          type: boolean
        IsReplacedById:
          type: string
        IsActive:
          type: boolean
    ProjectContractIdentifier:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectContractID:
          format: int32
          type: integer
        ProjectContractIdentifierID:
          format: int32
          type: integer
        ProjectContractIdentifierDescription:
          type: string
        ProjectContractIdentifierValue:
          type: string
    ProjectOrganizationPersonOrganization:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        OrganizationID:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
        ProjectOrganizationPersonID:
          format: int32
          type: integer
        OrganizationData:
          $ref: '#/components/schemas/OrganizationOrganization'
    Category:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        Type:
          $ref: '#/components/schemas/CategoryType'
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
    OrganizationDisplayPath:
      type: object
      properties:
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
    OrganizationOrganizationType:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        LegacyOrganizationTypeId:
          format: int32
          type: integer
    OrganizationOrganizationParent:
      type: object
      properties:
        Id:
          type: string
        FromDate:
          format: date-time
          type: string
        ToDate:
          format: date-time
          type: string
        ParentOrganizationId:
          type: string
        ParentOrganizationData:
          $ref: '#/components/schemas/OrganizationOrganization'
    OrganizationIdentifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/OrganizationIdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    CategoryType:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
    Identifier:
      type: object
      properties:
        Id:
          type: string
        Type:
          $ref: '#/components/schemas/IdentifierType'
        CreatedBy:
          type: string
        CreatedAt:
          format: date-time
          type: string
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    OrganizationIdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    IdentifierType:
      type: object
      properties:
        Id:
          type: string
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    RecipientsOfVerificationMail:
      type: object
      properties:
        personID:
          type: string
        email:
          type: string
        source:
          type: string
    SimpleProjectMetadata:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectTitleSwe:
          type: string
        ProjectTitleEng:
          type: string
        StartDate:
          format: date-time
          type: string
        EndDate:
          format: date-time
          type: string
        PublishStatus:
          format: int32
          type: integer
        CreatedDate:
          format: date-time
          type: string
        UpdatedDate:
          format: date-time
          type: string
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/ProjectIdentifier'
        Contracts:
          type: array
          items:
            $ref: '#/components/schemas/SimpleProjectContractMetadata'
    SimpleProjectContractMetadata:
      type: object
      properties:
        ID:
          format: int32
          type: integer
        ProjectID:
          format: int32
          type: integer
        OrganizationID:
          type: string
        FunderID:
          type: array
          items:
            type: string
        ContractStartDate:
          format: date-time
          type: string
        ContractEndDate:
          format: date-time
          type: string
        CreatedDate:
          format: date-time
          type: string
        UpdatedDate:
          format: date-time
          type: string
        ContractOrganization:
          $ref: '#/components/schemas/SimpleOrganization'
        ContractIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/ProjectContractIdentifier'
    SimpleOrganization:
      type: object
      properties:
        Id:
          type: string
        NameSwe:
          type: string
        NameEng:
          type: string
        DisplayNameSwe:
          type: string
        DisplayNameEng:
          type: string
        DisplayPathSwe:
          type: string
        DisplayPathEng:
          type: string
        DisplayPathShortSwe:
          type: string
        DisplayPathShortEng:
          type: string
        City:
          type: string
        Country:
          type: string
        GeoLat:
          type: string
        GeoLong:
          type: string
        Level:
          format: int32
          type: integer
        StartYear:
          format: int32
          type: integer
        EndYear:
          format: int32
          type: integer
        OrganizationTypes:
          type: array
          items:
            $ref: '#/components/schemas/SimpleOrganizationType'
        OrganizationParents:
          type: array
          items:
            $ref: '#/components/schemas/SimpleOrganizationParent'
        Identifiers:
          type: array
          items:
            $ref: '#/components/schemas/SimpleIdentifier'
        IdentifierLdapCode:
          type: array
          items:
            type: string
        IdentifierCplDepartmentId:
          type: array
          items:
            type: string
        DeletedBy:
          type: string
        DeletedAt:
          format: date-time
          type: string
    SimpleOrganizationType:
      type: object
      properties:
        NameSwe:
          type: string
        NameEng:
          type: string
        LegacyOrganizationTypeId:
          format: int32
          type: integer
    SimpleOrganizationParent:
      type: object
      properties:
        FromDate:
          format: date-time
          type: string
        ToDate:
          format: date-time
          type: string
        ParentOrganizationData:
          $ref: '#/components/schemas/SimpleOrganization'
    SimpleIdentifier:
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/SimpleIdentifierType'
        UpdatedBy:
          type: string
        UpdatedAt:
          format: date-time
          type: string
        IsActive:
          type: boolean
        Value:
          type: string
    SimpleIdentifierType:
      type: object
      properties:
        Value:
          type: string
        DescriptionSwe:
          type: string
        DescriptionEng:
          type: string
    ProjectQueryResult:
      type: object
      properties:
        TotalCount:
          format: int32
          type: integer
        Projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
    SolrImportRequestModel:
      description: Model for requesting an import to Solr
      type: object
      properties:
        coreName:
          description: Solr core name
          type: string
        importType:
          description: Type of import, Delta or Full
          type: string
        docId:
          format: int32
          description: Document Id when requesting Delta
          type: integer
        doOptimize:
          description: Optimize index after import
          type: boolean
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
